{% extends 'base.html' %}
{% block head %}
<title>chess puzzle</title>
{% endblock %}
{% block body %}




<!--{% for post in posts %}-->
<!--<div class="card-deck">-->
<!--  <div class="card">-->
<!--&lt;!&ndash;    static/PIN.jpeg&ndash;&gt;-->
<!--    <img src="static/PIN.jpeg"class="card-img-top" alt="...">-->
<!--    <div class="card-body">-->

<!--      <p class="card-text">WHITE TO MOVE. </p>-->

<!--    </div>-->
<!--  </div>-->
<!--&lt;!&ndash;  {% endfor %}&ndash;&gt;-->
<!--  <div class="card">-->
<!--    <img src="static/p-2.jpeg" class="card-img-top" alt="...">-->
<!--    <div class="card-body">-->

<!--      <p class="card-text">WHITE TO MOVE.</p>-->

<!--    </div>-->
<!--  </div>-->
<!--  <div class="card">-->
<!--    <img src="static/p-3.jpeg" class="card-img-top" alt="...">-->
<!--    <div class="card-body">-->

<!--      <p class="card-text">WHITE TO MOVE</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<h1>DISCOVER CHECK-CHAPTER</h1>
<div class="card-deck">
  <div class="card">
    <img src="static/d-1.jpeg" class="card-img-top" alt="...">
    <div class="card-body">

      <p class="card-text">WHITE TO MOVE</p>
    </div>
  </div>
  <div class="card">
    <img src="static/d-2.jpeg" class="card-img-top" alt="...">
    <div class="card-body">

      <p class="card-text">BLACK TO MOVE.</p>
    </div>
  </div>
  <div class="card">
    <img src="static/d-3.jpeg" class="card-img-top" alt="...">
    <div class="card-body">

      <p class="card-text">WHITE TO MOVE.</p>
    </div>
  </div>
</div>
<h1>DECOY-CHAPTER</h1>
<div class="card-deck">
  <div class="card">
    <img src="static/Z-1.jpeg" class="card-img-top" alt="...">
    <div class="card-body">

      <p class="card-text">WHITE TO MOVE</p>
    </div>
  </div>
  <div class="card">
    <img src="static/Z-2.jpeg" class="card-img-top" alt="...">
    <div class="card-body">

      <p class="card-text">WHITE TO MOVE.</p>
    </div>
  </div>
  <div class="card">
    <img src="static/Z-3.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">BLACK TO MOVE</p>
    </div>
  </div>
</div>
<h1>PIN-CHAPTER</h1>

<div class="card-deck">
  <div class="card">
    <img src="static/PIN.jpeg" class="card-img-top" alt="...">
    <div class="card-body">

      <p class="card-text">WHITE TO MOVE</p>
    </div>
  </div>
  <div class="card">
    <img src="static/p-2.jpeg" class="card-img-top" alt="...">
    <div class="card-body">

      <p class="card-text">WHITE TO MOVE.</p>
    </div>
  </div>
  <div class="card">
    <img src="static/p-3.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">BLACK TO MOVE</p>
    </div>
  </div>
</div>

<!--<div class="card-deck">-->
<!--  <div class="card">-->
<!--    <img src="static/PIN.jpeg" class="card-img-top" alt="...">-->
<!--    <div class="card-body">-->

<!--      <p class="card-text">WHITE TO MOVE</p>-->
<!--    </div>-->
<!--

{% endblock %}