{% extends 'base.html' %}
{% block head %}
<title>easy  puzzle</title>
{% endblock %}
{% block body %}
<h1>MATE IN ONE MOVE EASY PUZZLES</h1>
<div class="card-deck">
  <div class="card">
    <img src="static/e-6.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
<!--      <h5 class="card-title"></h5>-->
      <p class="card-text">WHITE TO MOVE.</p>
    </div>
  </div>
  <div class="card">
    <img src="static/e-1.jpeg" class="card-img-top" alt="...">
    <div class="card-body">

      <p class="card-text">WHITE TO MOVE.</p>

    </div>
  </div>
  <div class="card">
    <img src="static/e-2.jpeg" class="card-img-top" alt="...">
    <div class="card-body">

      <p class="card-text">WHITE TO MOVE</p>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <img src="static/e-3.jpeg" class="card-img-top" alt="...">
    <div class="card-body">

      <p class="card-text">WHITE TO MOVE</p>
    </div>
  </div>
  <div class="card">
    <img src="static/e-4.jpeg" class="card-img-top" alt="...">
    <div class="card-body">

      <p class="card-text">WHITE TO MOVE.</p>
    </div>
  </div>
  <div class="card">
    <img src="static/e-5.jpeg" class="card-img-top" alt="...">
    <div class="card-body">

      <p class="card-text">BLACK TO MOVE.</p>
    </div>
  </div>
</div>
<h1>MATE IN TWO MEDIUM LEVEL PUZZLE</h1>
<div class="card-deck">
  <div class="card">
    <img src="static/M-1.jpeg" class="card-img-top" alt="...">
    <div class="card-body">

      <p class="card-text">WHITE TO MOVE</p>
    </div>
  </div>
  <div class="card">
    <img src="static/m-2.jpeg" class="card-img-top" alt="...">
    <div class="card-body">

      <p class="card-text">WHITE TO MOVE.</p>
    </div>
  </div>
  <div class="card">
    <img src="static/m-3.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">WHITE TO MOVE</p>
    </div>
  </div>
</div>
{% endblock %}